.container {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
  header{
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    margin-bottom: 10px;
  }
  .folder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .file-manager {
      flex: 5;
      .folder {
        width: 90px;
        height: 90px;
      }

      display: flex;
      flex-flow: row wrap;
      .folder-icon {
        position: relative;
        margin: 10px;
        cursor: pointer;
        flex: 0 1 90px;
        height: 90px;
        .folder-label {
          margin: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 0.9em;
          color: #fff;
          font-weight: bold;
          max-width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .create-folder-btn {
      flex: 1 1;
      background: transparent;
      font-size: 2.5em;
      font-weight: 100;
      min-height: 90px;
      color: #c9c9c9;
      border-radius: 10px;
      cursor: pointer;
      height: 90px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='grey' stroke-width='3' stroke-dasharray='11%2c 10' stroke-dashoffset='59' stroke-linecap='butt'/%3e%3c/svg%3e");
      border-radius: 15px;
    }
  }
}

// MODAl styles
.ReactModal__Content.ReactModal__Content--after-open {
  border-radius: 10px;
  min-height: 140px;
  min-width: 380px;
  border-radius: 5px;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.input-field {
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border-style: groove;
  max-width: 90%;
  display: flex;
  width: 70%;
  margin: 10px auto;
  padding: 9px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px;
  background: #2196f3;
  outline: none;
  border: none;
  width: 180px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hint-text {
  margin: 10px;
  display: flex;
}

.error-text {
  display: flex;
  margin: 10px;
  color: red;
}

.alert-icon {
  font-size: 1.3em;
}
